node_modules
yarn-error.log
.idea
.DS_Store
.vscode
package-lock.json
lib
libs
dist
example/.vuepress/.cache
example/.vuepress/.temp
packages/**/tsconfig.build.tsbuildinfo
packages/**/tsconfig.cjs.tsbuildinfo
packages/**/tsconfig.esm.tsbuildinfo
