.banner-brand-wrapper {
  @apply w-screen flex justify-center items-center;
  @apply md:h-screen;
  .hero-content {
    @apply block;
    @apply md:max-w-3xl md:flex md:flex-row-reverse md:items-start;
    .hero-text {
      @apply box-border mb-16 px-6;
      h1 {
        @apply mb-6 text-4xl text-center;
        @apply md:text-6xl md:text-left;
      }
      .btn-group {
        @apply list-none mt-8 pl-0 text-center;
        @apply md:text-left;
        li {
          @apply inline-block align-middle;
          @apply hover:border-reco-brand;
          .icon-container {
            @apply px-6 py-2 border-2 border-solid border-reco-brand rounded-md bg-reco-brand-lighter cursor-pointer font-semibold text-white;
            @apply dark:text-reco-text-darkmode;
          }
          &.plain .icon-container {
            @apply bg-reco-bg-lightmode text-reco-text-lightmode;
            @apply dark:bg-reco-bg-darkmode dark:text-reco-text-darkmode;
          }
          &:not(:first-child) {
            @apply ml-4;
          }
        }
      }
      .social-links {
        @apply  mt-4 box-border flex flex-wrap p-2 pl-0 text-center;
        @apply md:text-left;
        .social-item {
          @apply text-center list-none transition-transform;
          @apply hover:scale-110;
          width: 39px;
          height: 36px;
          line-height: 36px;
        }
      }
    }
    img {
      @apply block mx-auto mt-32 mb-16 w-40;
      @apply md:mt-0 sm:w-40 md:w-60 md:ml-16;
    }
  }
}

/* 兼容 */
.banner-brand-wrapper .hero-content .hero-text .btn-group li > a .icon-container {
  @apply text-white dark:text-reco-text-darkmode;
}
