.arrow {
  @apply inline-block w-1.5 h-1.5 align-middle border-0 border-solid border-transparent border-reco-text-lightmode;
  @apply dark:border-reco-text-darkmode;

  &.up {
    @apply border-l border-t rotate-45 translate-y-0.5;
  }

  &.down {
    @apply border-r border-b rotate-45 -translate-y-0.5;
  }

  &.right {
    @apply border-r border-t rotate-45;
  }

  &.left {
    @apply border-l border-b rotate-45;
  }
}
