.categories-container {
  @apply lg:max-w-screen-md xl:max-w-screen-lg py-24 mx-auto px-10;
  .category-list {
    @apply pl-0 list-none;
    .category-item {
      @apply inline-block mr-4 mb-4 dark:bg-reco-bg-darkmode rounded cursor-pointer border-reco-brand border-2 border-solid;
      .category-link {
        @apply inline-block px-4 py-1.5;
        .text {
          @apply mr-1 text-sm leading-5 text-reco-text-lightmode;
        }
        .num {
          @apply inline-block h-5 px-2 bg-reco-brand rounded text-white text-xs leading-5;
        }
      }
      &.active, &:hover {
        @apply bg-reco-brand-lighter;
        .category-link {
          .text {
            @apply text-white;
          }
          .num {
            @apply text-white;
          }
        }
      }
    }
  }
}

/* 兼容 */
.categories-container .category-list .category-item .category-link .text {
  @apply dark:text-reco-text-darkmode;
}
