.custom-container {
  @apply relative my-6 pl-12 pr-4 break-all;
  > svg {
    @apply absolute top-4 left-4 w-7 font-bold;
  }
  .custom-container-title {
    @apply mt-3.5 mb-0 font-bold;
  }
  &.tip {
    @apply rounded border-reco-container-info-border border border-solid bg-reco-container-info-bg;
    .custom-container-title, svg {
      @apply text-reco-container-info-border;
    }
  }
  &.info {
    @apply rounded border-reco-container-info-border border border-solid bg-reco-container-info-bg;
    .custom-container-title, svg {
      @apply text-reco-container-info-border;
    }
  }
  &.warning {
    @apply rounded border-reco-container-warning-border border border-solid bg-reco-container-warning-bg;
    .custom-container-title, svg {
      @apply text-reco-container-warning-border;
    }
  }
  &.danger {
    @apply rounded border-reco-container-danger-border border border-solid bg-reco-container-danger-bg;
    .custom-container-title, svg {
      @apply text-reco-container-danger-border;
    }
  }
  &.details {
    @apply pl-6 py-4 rounded bg-reco-bg-lightmode-code border-reco-border-light border border-solid;
    @apply dark:bg-reco-bg-darkmode-code dark:border-reco-border-dark;
    .custom-container-title {
      @apply mt-0 cursor-pointer;
    }
  }
}
