.navbar-container {
  @apply fixed top-0 right-0 z-30 px-4 py-3 h-14 w-screen leading-6 bg-reco-bg-lightmode/60;
  @apply dark:bg-reco-bg-darkmode/60;
  @apply md:px-8;
  /* 不生效 */
  @apply backdrop-saturate-150 backdrop-blur-xl;
  backdrop-filter: saturate(180%) blur(20px);
  .toggle-sidebar-button {
    @apply align-middle;
  }
  .site-brand {
    @apply align-middle text-xl font-semibold;
    .logo {
      @apply mr-4 inline-block w-8 h-8 rounded-md align-middle;
    }
    .site-name {
      @apply align-middle;
    }
  }
  .navbar-links-wrapper {
    @apply absolute right-4 top-3;
    white-space: nowrap;
    .navbar-links {
      @apply hidden md:inline-block align-middle;
    }
  }
  .toggle-sidebar-button {
    @apply inline-block md:hidden;
  }
  .search-box, .docsearch-container {
    @apply align-middle;
  }
  .btn-toggle-dark-mode {
    @apply ml-4 inline-block align-middle;
    height: 20px;
  }
}
