.navbar-links {
  @apply md:ml-6;
  .icon-container {
    @apply align-middle;
  }
  .navbar-links-item {
    @apply block md:inline-block py-1.5 align-middle;
    @apply md:py-0;
    &:not(:first-child) {
      @apply ml-0 md:ml-6;
    }
    > a.nav-link a {
      @apply text-base font-semibold;
      @apply md:text-base;
    }
    .arrow {
      @apply ml-1;
    }
    .dropdown-wrapper {
      @apply relative;
      height: 24px;
      button {
        height: 24px;
      }
      .dropdown-title {
        @apply text-reco-text-lightmode hidden md:block;
        .title {
          @apply font-semibold;
        }
      }
      .mobile-dropdown-title {
        @apply text-base font-semibold text-reco-text-lightmode block md:hidden;
      }
      .nav-dropdown {
        @apply pl-3 py-1 my-0 rounded-md bg-block border-block list-none;
        @apply md:px-3 md:hidden md:absolute md:top-3.5 md:py-2 md:my-3 border-0 md:border;
        .dropdown-item {
          @apply relative;
          &:not(:first-of-type)::before {
            @apply absolute -left-3 -right-3 top-0 block border-t-0 border-solid border-reco-border-lightmode;
            /* 待确定 */
            /* @apply md:border-t; */
            @apply dark:border-reco-border-darkmode;
            content: '';
          }
          &:not(:first-of-type) {
            .dropdown-subtitle {
              @apply relative z-40 mt-8;
              &::before {
                @apply absolute left-0 -top-4 block w-full border-t border-solid border-reco-border-lightmode;
                @apply dark:border-reco-border-darkmode;
                content: '';
              }
            }
          }
          .dropdown-subtitle {
            @apply my-1 py-0 text-sm font-medium;
          }
          .dropdown-subitem-wrapper {
            @apply list-none pl-3;
            @apply md:pl-0;
            .dropdown-subitem .nav-link {
              @apply relative transition-all;
              &::before {
                @apply absolute inset-y-0 left-0 top-0 bottom-0 m-auto block w-0 h-0 rounded-1/2 transition-all;
                @apply bg-reco-brand;
                content: '';
              }
              &:hover {
                @apply text-reco-brand;
              }
              &.active {
                @apply pl-2;
                a {
                  @apply text-reco-brand;
                }
                &::before {
                  @apply w-1 h-1;
                }
              }
              &.router-link-active {
                @apply pl-2;
                &::before {
                  @apply w-1 h-1;
                }
              }
            }
          }
          a.nav-link {
            @apply text-sm;
          }
        }
      }
      &.open {
        height: auto;
      }
      &.open .nav-dropdown {
        @apply block !important;
      }
      &:hover .nav-dropdown {
        @apply md:block !important;
      }
    }
    /* 选中高亮，不可以移动 */
    .router-link-active span{
      @apply text-reco-brand !important;
    }
  }
}

/* 兼容 */
.navbar-links .navbar-links-item .dropdown-wrapper .dropdown-title {
  @apply dark:text-reco-text-darkmode;
}
.navbar-links .navbar-links-item .dropdown-wrapper .mobile-dropdown-title {
  @apply dark:text-reco-text-darkmode;
}
