.page-info {
  @apply flex flex-wrap;
  .xicon-container{
    @apply text-lighter;
    a {
      @apply text-lighter;
    }
    &:not(:last-child) {
      @apply mr-5;
    }
    a:not(:last-child) {
      @apply mr-2;
    }
  }
}
