.page-meta {
  @apply flex flex-wrap py-4 overflow-auto;
  @apply md:justify-between md:flex-nowrap;
  .meta-item {
    @apply cursor-pointer mt-3.5 w-full md:w-auto text-nowrap;
    .meta-item-label {
      @apply font-medium text-reco-text-lightmode;
      @apply dark:text-reco-text-darkmode;
    }
  }
  .edit-link .xicon-container{
    @apply mr-4 text-reco-primary !important;
  }
}
