.page-catalog-container {
  @apply ml-10 pl-6 pr-10 pt-4 w-56 fixed z-10 top-16 bottom-16 right-0 hidden overflow-y-auto;
  @apply lg:block;

  .tip {
    @apply font-extrabold;
  }

  ul {
    @apply list-none pl-0;

    .page-catalog-menu-depth_2 {
      @apply py-2 font-semibold text-sm;
      @apply border-t border-dashed border-reco-border-lightmode;
      &.active {
        a {
          @apply text-reco-brand;
        }
      }
    }

    .page-catalog-menu-depth_3 {
      @apply py-1.5 pl-1 relative text-xs transition-all;
      &::before {
        @apply absolute inset-y-0 left-0 m-auto block w-0 h-0 rounded-1/2 transition-all;
        @apply bg-reco-brand;
        content: '';
      }
      &:hover {
        @apply text-reco-brand;
      }
      &.active {
        @apply pl-2;
        a {
          @apply text-reco-brand;
        }
        &::before {
          @apply w-1 h-1;
        }
      }
    }
  }
}

/* 兼容 */
.page-catalog-container ul .page-catalog-menu-depth_2 {
  @apply dark:border-reco-border-darkmode;
}
