.password-wrapper {
  @apply flex flex-col justify-center items-center bg-block;
  input {
    @apply absolute opacity-0 z-0 block w-full h-20;
  }
  .site-info {
    .logo {
      @apply block mx-auto w-60;
    }
    .site-name {
      @apply pt-12 mb-16;
    }
  }
  .password-show {
    @apply flex mt-4 pl-0;
    li {
      @apply mx-4 w-16 h-16 list-none rounded-lg border-primary border-2 text-center;
      line-height: 4rem;
      i {
        @apply bg-reco-text-lightmode;
        height: 10px;
        width: 10px;
        border-radius:50% ;
        display: inline-block;
      }
    }
  }
}
