.personal-info-wrapper {
  .personal-img {
    @apply block mt-8 mb-4 mx-auto w-24 h-24 rounded-1/2;
  }
  .name {
    @apply text-base text-center font-semibold;
  }
  .social-links {
    @apply box-border flex flex-wrap p-2;
    .social-item {
      @apply text-center list-none transition-transform;
      @apply hover:scale-110;
      width: 39px;
      height: 36px;
      line-height: 36px;
    }
  }
}
