.toggle-sidebar-button {
  @apply mr-2 inline-block w-8 cursor-pointer;
  .icon {
    @apply w-full;
    span {
      @apply transition-all origin-top-left duration-300 block mx-auto my-1.5 w-6 bg-reco-text-lightmode;
      @apply dark:bg-reco-text-darkmode;
      height: 2px;
      border-radius: 2px;
    }
  }
}
