.theme-container {
  .theme-reco-default-content, .page-title, .page-info, .page-meta, .page-nav {
    @apply lg:max-w-screen-md xl:max-w-screen-lg mx-auto px-10;
    border-top: 1px solid transparent;
    &.theme-reco-default-content code {
      @apply px-2 py-0.5 bg-reco-bg-code rounded-md font-mono;
      @apply dark:bg-reco-bg-code-dark;
    }
  }
  .theme-reco-default-content h1 {
    @apply -mt-8;
  }

  .fade-slide-y-enter-active {
    transition: all 0.3s ease;
  }

  .fade-slide-y-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  }

  .fade-slide-y-enter-from,
  .fade-slide-y-leave-to {
    transform: translateY(10px);
    opacity: 0;
  }
}
